<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
    
</head>
<body>
<div align="center">
    <h1>Create New Student</h1>
    <br />
     <div class="col-sm-4">
    <form action="#" th:action="@{/student/save}" th:object="${teacher}" method="post">

      
 	<div alight="left">
 			<tr>
 				 <label class="form-label" >student name</label>
                <td>
	                <input type="hidden" th:field="*{id}" />
	                <input type="text" th:field="*{studentname}" class="form-control" placeholder="Student Name" />
                </td>
            </tr>
         </div>   
         
    <div alight="left">
 			<tr>
 				 <label class="form-label" >Grade</label>
                <td>
	                <input type="hidden" th:field="*{id}" />
	                <input type="text" th:field="*{grade}" class="form-control" placeholder="Grade" />
                </td>
            </tr>
         </div>
         
    <div alight="left">
 			<tr>
 				 <label class="form-label" >Gloe</label>
                <td>
	                <input type="hidden" th:field="*{id}" />
	                <input type="text" th:field="*{gole}" class="form-control" placeholder="Gole" />
                </td>
            </tr>
         </div>
    <br>
    
      <div alight="left">
 			<tr>
 				 <label class="form-label" >GPA</label>
                <td>
	                <input type="hidden" th:field="*{id}" />
	                <input type="text" th:field="*{gpa}" class="form-control" placeholder="gpa" />
                </td>
            </tr>
         </div>
    <br>
    		 <tr>
            <td colspan="2"><button type="submit" class="btn btn-info">save</button> </td>
            <td> <td clospan="2"><a class="btn btn-info" th:href="@{/student/}">BACK</a></td>
            </tr>
    </form>
    </div>
         
         
 			
</body>
</html>