<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
 <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div>
<h2 align="center">STUDENT GRADE TRACKING SYSTEM</h2>
<tr>
	<div align="center">
	<h3><a th:href="@{student}">student</a></h3>
	<h3><a th:href="@{teacherauthentication}">teacher</a></h3>
	<!-- < a href="defect-details.html">
	< a th:href="@{defect-details.html}"> -->
</div>


</body>
</html>